<div class="anime-card" 
     style="--hover-color:@CoverColor;--status-color:@Theme.GetHexByAnimeUserStatus(UserStatus);"
     @onfocusout="OnHideTooltip" tabindex="0">
    <div class="cover"
         style="background-image:url(@CoverImage);">
        <div class="overlay">
            <span class="user-status">@Theme.GetTextByAnimeUserStatus(UserStatus)</span>
            <i class="material-icons info" @onclick="OnShowTooltip">info</i>
            <span class="status">@Theme.GetTextByAnimeStatus(Status)</span>
            <span class="score"><i class="material-icons star">star_rate</i><span>@Score</span></span>
        </div>
        <div class="tooltip @(IsTooltipActive ? "active" : string.Empty)">
            <div class="heading"
                 style="--banner-image:url(@BannerImage);">
            </div>
            <div class="genres">
                <div class="genre">@Theme.GetTextByAnimeFormat(Format)</div>
                @for(int i = 0; i < (Genres.Count < 2 ? Genres.Count : 2); i++)
                {
                    <div class="genre">@Genres[i]</div>
                }
            </div>
            <div class="description">@((MarkupString)Description)</div>
        </div>
    </div>
    <div class="title" title="Naruto: Shippuuden" @onclick="OnMouseClick">
        @Title
    </div>
</div>