
@if (DropDownOptions == null || DropDownOptions.Count == 0)
{
    @Placeholder
}
else
{

    <div class="custom-select-wrapper float-right" style="width: auto; min-width: @min_width; max-width: @max_width" @onclick="@(() => ShowOptions = !ShowOptions)">
        <div class="custom-select @(ShowOptions ? "open" : "")">
            <div class="custom-select__trigger">
                <span>@String.Join(", ", SelectedValue)</span>
                <div class="arrow"></div>
            </div>
            <div class="custom-options">
                @foreach (var item in DropDownOptions)
                {
                    string chiave = item.Key;
                    string valore = item.Value;
                    <span class="custom-option @(SelectedValue.Contains(chiave) ? "selected" : "")" data-value="@chiave" @onclick="@(() => SelectedElementChange(chiave, valore))">
                        @if(IsMultiple)
                        {
                            <input type="checkbox" checked=@(SelectedValue.Contains(chiave))>
                        }
                        @valore
                    </span>
                }
            </div>
        </div>
    </div>
}