<!--Messaggio Episodi -> 0 record-->
@if (Episodi.Count == 0)
{
    <!--<span>Non ci sono episodi...</span>-->
    @Placeholder
}
else
{
    <!--Lista Gruppi Episodi-->
    @if (Episodi.Count > 100)
    {
        <div class="episodes">
            @for (int displaySummary = 0; displaySummary <= NumeroGruppi; displaySummary++)
            {
                int NumInizio = (100 * displaySummary) + 1;
                int NumFine = (NumInizio + 99) >= Episodi.Count ? Episodi.Count : (NumInizio + 99);
                //Console.WriteLine($"NumeroGruppi: {NumeroGruppi} - displaySummary: {displaySummary} - NumInizio {NumInizio} - NumFine: {NumFine} - NumeroEpisodio: {NumeroEpisodio}");
                <a @onclick="@(() => ChangeEpisode(NumInizio))">
                    <div class="episode @((NumeroEpisodio >= NumInizio && NumeroEpisodio <= NumFine) || (NumeroEpisodio == 0 && displaySummary == 0) ? "active" : "" )" style="width: 120px;">
                        @NumInizio - @NumFine
                    </div>
                </a>
            }
        </div>
    }

    <!--Lista Episodi-->
    <div class="episodes">
        @for (int displaySummary = 0; displaySummary <= NumeroGruppi; displaySummary++)
        {
            int NumInizio = (100 * displaySummary) + 1;
            int NumFine = NumInizio + 99;
            //Console.WriteLine($"Render EpisodeList - NumeroEpisodio: {NumeroEpisodio}");
            @if (displaySummary == 0 && TrailerUrl != null && NumeroEpisodio < 100)
            {
                <a @onclick="@(() => ChangeEpisode(0))">
                    <div class="episode @(NumeroEpisodio == 0 ? "active" : "")" style="width: 126px;">
                        Trailer
                    </div>
                </a>
            }

            @if ((NumeroEpisodio >= NumInizio && NumeroEpisodio <= NumFine) || (NumeroEpisodio == 0 && displaySummary == 0))
            {
                @for (int displayNum = NumInizio; (displayNum <= NumFine && displayNum <= Episodi.Count); displayNum++)
                {
                    int Ep = displayNum;
                    <a @onclick="@(() => ChangeEpisode(Ep))">
                        <div class="episode @(NumeroEpisodio == Ep ? "active" : "" )">
                            @Ep
                        </div>
                    </a>
                }
            }
        }
    </div>
}