@page "/AnimeDetail/{AnimeID:int}"
@page "/AnimeDetail/{AnimeID:int}/Episodio/{NumeroEpisodio:int}"

<div class="content">
    <div class="section no-p">
        <div class="banner" style=" background-image: url(@anime.BannerImage);"></div>
    </div>
    <div class="section no-p">
        <div class="container">
            <div class="heading">
                <div class="cover" style=" background-image: url(@anime.CoverImage);"></div>
                <div class="head">
                    @*<h1 class="title">@(anime.Titles != null ? anime.Titles[Localization] : "No Title")</h1>*@
                    <h1 class="title">@Generic.GetValueLocalized(anime.Titles, Localization)</h1>
                    @*YourDictionaryName.TryGetValue(key, out int value) ? YourDictionaryName[key] : 0;*@
                    @*<h1 class="title">@(anime.Titles?[Localization] ?? "No Title")</h1>*@
                <p class="desc">
                    @((MarkupString)Generic.GetValueLocalized(anime.Descriptions, Localization))
                    @*@((MarkupString)(anime.Descriptions != null ? anime.Descriptions[Localization] : "No Description"))*@
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section main">
        <div class="container">
            <PrequelSequel Prequel="@prequel" Sequel="@sequel" Localization="@Localization" />
        </div>
    </div>
    <div class="section dock">
        <div class="container">
            <Infos Anime="anime">
                <Placeholder>
                    <span>Informazioni mancanti...</span>
                </Placeholder>
            </Infos>
            <div class="media">
                <div class="video-title">
                    @(NumeroEpisodio != 0 ? ("Episodio: " + NumeroEpisodio.ToString()) : "Trailer")
                    @*<DropDown Class="float-right" DropDownOptions="Episodi_Sources" CambiaElemento="CambioSorgente"></DropDown>*@
                    <DropDownV2 DropDownOptions="Episodi_Sources" CambiaElemento="CambioSorgente" Width="125px"></DropDownV2>
                </div>
                @if ((TrailerUrl.Host == "www.youtube.com" || TrailerUrl.Host == "www.youtube-nocookie.com") && NumeroEpisodio == 0)
                {
                    <YoutubePlayer TrailerUrl="TrailerUrl" />
                }
                else
                {
                    <VideoPlayer listEpisodi="@listEpisodi" VideoNumeroEpisodio="@NumeroEpisodio" CambiaEpisodio="CambiaEpisodio" TrailerUrl="@anime.TrailerUrl">
                        <Placeholder>
                            <span>Video non trovato...</span>
                        </Placeholder>
                    </VideoPlayer>
                }
                <!-- -->
                <EpisodeList Episodi="@listEpisodi.Episodi" NumeroEpisodio="@NumeroEpisodio" CambiaEpisodio="CambiaEpisodio" TrailerUrl="@anime.TrailerUrl">
                    <Placeholder>
                        <span>Non ci sono episodi...</span>
                    </Placeholder>
                </EpisodeList>
            </div>
        </div>
    </div>
</div>