@page "/App/Anime/{AnimeID:long}"
@page "/App/Anime/{AnimeID:long}/{EpisodeNumber:int}"
@layout AppLayout

@if (Anime != null)
{
    <div class="section no-p">
        <div class="banner"
             style="--banner-image:url(@Anime.BannerImage);"></div>
    </div>
    <div class="section no-p head">
        <div class="container">
            <div class="heading">
                <div class="cover"
                     style="--cover-color:@Anime.CoverColor;--cover-image:url(@Anime.CoverImage);"></div>
                <div class="head">
                    <h1 class="title">@AnimeTitle</h1>
                    <p class="desc">@((MarkupString)AnimeDescription)</p>
                </div>
            </div>
        </div>
    </div>
    @if (Prequel != null || Sequel != null)
    {
        <div class="section main">
            <div class="container">
                <div class="siblings">
                    <div class="sibling prequel @(Prequel == null ? "hidden" : string.Empty)">
                        <span>Prequel</span>
                        <h3 class="title">@PrequelTitle</h3>
                    </div>
                    <div class="sibling sequel @(Sequel == null ? "hidden" : string.Empty)">
                        <span>Sequel</span>
                        <h3 class="title">@SequelTitle</h3>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="section dock">
        <div class="container">
            <div class="side">
                <!--<div class="anilist">
                    <a href="https://anilist.co/anime/1735" target="_blank">
                        <img class="logo" src="images/anilist_logo.png">
                    </a>
                    <div class="form">
                        <div class="col selectbox">
                            <label>Status</label>
                            <div class="input">
                                <input type="text" value="Stopped" readonly />
                                <i class="material-icons icon">expand_more</i>
                                <div class="dropdown">
                                    <div class="item">Watching</div>
                                    <div class="item">Watched</div>
                                    <div class="item">Planned</div>
                                    <div class="item">Paused</div>
                                    <div class="item">Stopped</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--<div class="myanimelist">
                    <a href="https://myanimelist.net/anime/1735" target="_blank">
                        <img class="logo" src="images/mal_logo.jpg">
                    </a>
                    <div class="form">
                        <div class="col selectbox">
                            <label>Status</label>
                            <div class="input">
                                <input type="text" value="Stopped" readonly />
                                <i class="material-icons icon">expand_more</i>
                                <div class="dropdown">
                                    <div class="item">Watching</div>
                                    <div class="item">Watched</div>
                                    <div class="item">Planned</div>
                                    <div class="item">Paused</div>
                                    <div class="item">Stopped</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="info">
                    <div class="row">
                        <span>Format</span>@Theme.GetTextByAnimeFormat(Anime.Format)
                    </div>
                    <div class="row">
                        <span>Episodes</span>@Anime.EpisodesCount
                    </div>
                    <div class="row">
                        <span>Episode Duration</span>@Anime.EpisodeDuration minutes
                    </div>
                    <div class="row">
                        <span>Status</span>@Theme.GetTextByAnimeStatus(Anime.Status)
                    </div>
                    <div class="row">
                        <span>Start Date</span>Feb 14, 2007
                    </div>
                    <div class="row">
                        <span>End Date</span>Mar 22, 2017
                    </div>
                    <div class="row">
                        <span>Season</span>Winter 2007
                    </div>
                    <div class="row">
                        <span>Score</span>@Anime.Score%
                    </div>
                    <div class="row">
                        <span>Genres</span>
                        @foreach (string genre in Anime.Genres)
                        {
                            <a href="">@genre</a>@(Anime.Genres.Last() != genre ? ", " : string.Empty)
                        }
                    </div>
                </div>
                <div class="songs">
                    @if (Anime.Opening != null)
                    {
                        <div class="song">
                            <span>Opening</span>
                            <div class="audio" data-status="S">
                                <div class="play">
                                    <i class="material-icons">play_arrow</i>
                                </div>
                                <div class="progress">
                                    <div class="bar"></div>
                                </div>
                                <span class="time">30</span>
                                <audio src="@Anime.Opening.PreviewUrl"></audio>
                            </div>
                            <a class="title" href="@Anime.Opening.OpenSpotifyUrl" target="_blank"
                               title="@Anime.Opening.Title">@Anime.Opening.Title</a>
                            <h4 class="artist">@Anime.Opening.Artist</h4>
                            <h5 class="season">@Anime.Opening.Season @Anime.Opening.Year</h5>
                        </div>
                    }

                    @if (Anime.Ending != null)
                    {
                        <div class="song">
                            <span>Ending</span>
                            <div class="audio" data-status="S">
                                <div class="play">
                                    <i class="material-icons">play_arrow</i>
                                </div>
                                <div class="progress">
                                    <div class="bar"></div>
                                </div>
                                <span class="time">30</span>
                                <audio src="@Anime.Ending.PreviewUrl"></audio>
                            </div>
                            <a class="title" href="@Anime.Ending.OpenSpotifyUrl" target="_blank"
                               title="@Anime.Ending.Title">@Anime.Ending.Title</a>
                            <h4 class="artist">@Anime.Ending.Artist</h4>
                            <h5 class="season">@Anime.Ending.Season @Anime.Ending.Year</h5>
                        </div>
                    }
                </div>
            </div>
            <div class="central">
                <div class="media">
                    <div class="video">
                        @if (EpisodeNumber == 0 && !string.IsNullOrEmpty(Anime.TrailerUrl))
                        {
                            <iframe src="@Anime.TrailerUrl" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        }
                    </div>
                    @if (Anime.EpisodesCount > 120)
                    {
                        <div class="episodes-pages">
                            @for (int i = 0; i <= Anime.EpisodesCount; i += 120)
                            {
                                int from = i + 1;
                                int to = i + 120;
                                int max = to > Anime.EpisodesCount ? Anime.EpisodesCount : to;
                                bool active = EpisodeNumber >= from && EpisodeNumber <= max;

                                <div class="episode-page @(active ? "active" : string.Empty)">@from - @max</div>
                            }
                        </div>
                    }
                    <div class="episodes">
                        @for (int i = EpisodesFrom; i <= EpisodesTo; i++)
                        {
                            <div class="episode @(EpisodeNumber == i ? "active" : string.Empty)">@i</div>
                        }
                        <!--<div class="episode active completed">1</div>-->
                    </div>
                </div>
                <div class="suggestions">
                    <div class="title">Ti consigliamo anche...</div>
                    <div class="anime-cards">
                    </div>
                </div>
            </div>
        </div>
    </div>
}