@page "/App/Search/"
@layout AppLayout

<div class="section filters">
    <div class="container">
        <div class="form inline">
            <TextBox Label="Search" Icon="search" Value="@Filter.Values.Title" OnChange="OnTitleChanged" />
            <ComboBox Label="Genres" Options="@Filter.AvailableGenres" SelectedValues="@Filter.Values.Genres" OnChange="OnGenresChange" />
            <SelectBox Label="Year" Options="@Filter.AvailableYears" SelectedValue="@Filter.Values.Year" OnChange="OnYearChange" />
            <SelectBox Label="Season" Options="@Filter.AvailableSeasons" SelectedValue="@Filter.Values.Season" OnChange="OnSeasonChange" />
            <SelectBox Label="Format" Options="@Filter.AvailableFormats" SelectedValue="@Filter.Values.Format" OnChange="OnFormatChange" />
            <SelectBox Label="Airing Status" Options="@Filter.AvailableStatus" SelectedValue="@Filter.Values.Status" OnChange="OnStatusChange" />
            <CheckBox Label="Hide Watched" Checked=@Filter.Values.HideWatched NoLabel=true OnChange="OnHideWatchedChange" />
        </div>
    </div>
</div>
<div class="section no-p tags">
    <div class="container">
        <Tags TagList="@Tags" />
    </div>
</div>
<div class="section result">
    <div class="container">
        <div class="anime-cards">
            @foreach(Anime anime in AnimeCards)
            {
                <AnimeCard Id="@anime.Id" 
                           Titles="@anime.Titles"
                           Descriptions="@anime.Descriptions"
                           CoverColor="@anime.CoverColor"
                           CoverImage="@anime.CoverImage"
                           BannerImage="@anime.BannerImage"
                           UserStatus="@anime.UserStatus"
                           Score="@anime.Score"
                           Status="@anime.Status"
                           Format="@anime.Format"
                           Genres="@anime.Genres"/>
            }
        </div>
    </div>
</div>